@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta+Malar:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
     font-family: "Inter", sans-serif;
    border: none;
    outline: none;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --main-color: #7cf03d;
    --disabled-color: #fff3;
    --white-color: #fff;
}

html {
    font-size: 63.5%;
}

body {
    color: var(--white-color);
}
header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3.5rem 9%;
    background: var(--bg-color);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
}

header.active {
    animation: show-header 1.5s linear forwards;
    animation-delay: 1.2s;
}

@keyframes show-header {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

header .logo {
    font-size: 3rem;
    font-weight: 700;
    color: var(--white-color);
}

nav a {
    font-size: 2rem;
    font-weight: 500;
    margin-left: 3.5rem;
    color: var(--white-color);
    text-transform: capitalize;
    transition: all 0.6s ease;
}

nav a:hover,
nav a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 4rem;
    display: none;
}

/* bars box  */
.bars-box {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.bars-box .bar {
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: hide-bars .5s ease-in-out both;
    animation-delay: calc(.1s * var(--i));
}
@keyframes hide-bars {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

.bars-box.active .bar {
    /* animation-name: ; */
    animation: show-bars .5s ease-in-out both;
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

/* bars box end */
/* home secton  */
section {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10rem 9% 2rem;
    /* background: var(--bg-color); */
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

section.active {
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;
}

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
        overflow: auto;
    }
}

.home {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.home-details h1 {
    font-size: clamp(3.5rem, 10vw, 5.5rem);
}

.home-details h2 {
    display: inline-block;
    font-size: 3.2rem;
    margin-top: -1rem;
}

.home-details h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    text-transform: capitalize;
    margin-top: 20px;
    -webkit-text-stroke: .07rem var(--main-color);
    animation-name: display-text;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {

    25%,
    100% {
        display: none;
    }
}

.home-details h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: .2rem solid var(--main-color);
    color: var(--main-color);
    overflow: hidden;
    white-space: nowrap;
    animation-name: fill-text;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fill-text {

    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}

.home-details p {
    font-size: 1.8rem;
    margin: 1rem 0 2.5rem;
}

.home-details .btn-sci {
    display: flex;
    align-items: center;
}

.btn-sci a {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 600;
}

.btn {
    display: inline-block;
    font-size: 1.6rem;
    background: var(--main-color);
    border: .2 solid var(--main-color);
    border-radius: 4rem;
    padding: 2rem 3rem;
    box-shadow: 0 0 2rem var(--main-color);
    font-weight: 500;
    color: var(--white-color);
    transition: all .5s ease;
    color: var(--second-bg-color);
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    box-shadow: none;
    border: 1px solid var(--main-color);
}

.home-details .btn-sci .sci {
    margin-left: 2rem;
}

.home-details .btn-sci .sci a {
    display: inline-flex;
    border-radius: 50%;
    padding: 0.8rem;
    border: .2rem solid var(--main-color);
    font-size: 2rem;
    margin: 0 .8rem;
    color: var(--main-color);
    transition: all .5s;
}

.home-details .btn-sci .sci a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

/* home secton end */

/* home img  */
.home-img .img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 0.5rem;
}

.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 50rem;
    height: 50rem;
    background: conic-gradient(transparent, transparent, transparent, var(--main-color));
    transform: rotate(0deg);
    animation-name: border;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes border {
    100% {
        transform: rotate(360deg);
    }
}

.home-img .img-box::after {
    animation-delay: -5s;
}

.home-img .img-box .img-item {
    position: relative;
    /* border-radius: 50%; */
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border-radius: 50%;
    border: .01rem solid var(--bg-color);
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: absolute;
    top: 3rem;
    /* border-radius: 50%; */
    width: 85%;
    mix-blend-mode: lighten;
    display: block;
    object-fit: cover;
}

/* services section  */
.heading {
    font-size: 4.5rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
    text-align: center;
}

.heading span {
    color: var(--main-color);
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 2rem;
}

.services-container .services-box {
    background: var(--second-bg-color);
    padding: 4rem 2.5rem;
    border: 0.2rem solid var(--second-bg-color);
    border-radius: 1rem;
    transition: all 0.5s;
}

.services-container .services-box:hover {
    border: 0.2rem solid var(--main-color);
    transform: scale(1.02);
}

.services-box .icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-box:hover .icon :not(a i) {
    color: var(--main-color);
    transition: all 0.5s;
}

.services-box .icon i {
    font-size: 4.5rem;
}

.services-box .icon a {
    padding: 1rem;
    display: inline-flex;
    border-radius: 50%;
    background: var(--white-color);
    transition: all 0.5s;
}

.services-box:hover .icon a {
    background: var(--main-color);
}

.services-box .icon a i {
    font-size: 3rem;
    color: var(--bg-color);
    transform: rotate(225deg);
}

.services-box:hover .icon a i {
    transform: rotate(180deg);
}

.services-box h3 {
    font-size: 2rem;
    margin: 0.5rem 0 2rem;
    text-transform: capitalize;
    transition: all 0.5s;
}

.services-box:hover h3 {
    color: var(--main-color);
}

.services-box p {
    font-size: 1.4rem;
    width: 80%;
    line-height: 1.5;
}

/* services section end */

/* resume section  */
.resume-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}

.resume-box h2 {
    font-size: 5rem;
    font-weight: 700;
    text-transform: capitalize;
}

.resume-box p {
    font-size: 1.6rem;
}

.resume-box .desc {
    margin: 3rem 0 2.5rem;
    width: 80%;
}

.resume-box .btn-resume {
    width: 100%;
    height: 5.3rem;
    background: var(--second-bg-color);
    border: 0.2rem solid var(--second-bg-color);
    font-size: 2rem;
    color: var(--white-color);
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 2rem;
    border-radius: 0.8rem;
    cursor: pointer;
}

.resume-box .btn-resume.active {
    border-color: var(--main-color);
    color: var(--main-color);
}

.resume-box .heading {
    font-size: 3.5rem;
    text-align: left;
}

.resume-box .resume-detail {
    display: none;
}

.resume-box .resume-detail.active {
    display: block;
}

/* resume list  */
.resume-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    height: 50rem;
    overflow: auto;
}

.resume-list::-webkit-scrollbar {
    width: 0.7rem;
}

.resume-list::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1rem;
}

.resume-list:hover::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

.resume-list .resume-item {
    background: var(--second-bg-color);
    padding: 3rem 2.5rem;
    border-radius: 0.8rem;
    height: calc((50rem - 2rem) / 2);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* experience  */
.resume-item .year {
    color: var(--main-color);
    margin-bottom: 1rem;
}

.resume-item h3 {
    text-transform: capitalize;
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.resume-item .company {
    position: relative;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.resume-item .company::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.6rem;
    border-radius: 50%;
    background: var(--main-color);
    margin-left: -2rem;
}

/* skill */
.resume-detail.skills .resume-list {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    height: auto;
    overflow: visible;
}

.resume-detail.skills .resume-item {
    align-items: center;
    position: relative;
    height: auto;
}

.resume-detail.skills .resume-item i {
    font-size: 8.5rem;
    transition: 0.5s;
}

.resume-detail.skills .resume-item:hover i {
    color: var(--main-color);
}

.resume-detail.skills .resume-item span {
    position: absolute;
    top: -20%;
    font-size: 1.6rem;
    background: var(--white-color);
    color: var(--bg-color);
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.3s;
}

.resume-detail.skills .resume-item:hover span {
    top: -25%;
    opacity: 1;
    transform: scale(1);
}

/* about  */
.resume-detail.about .resume-list {
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
}

.resume-detail.about .resume-item {
    padding: 0 0 .5rem;
    height: auto;
    background: transparent;
}

.resume-detail.about .resume-item p {
    color: var(--main-color);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.6rem;
}

.resume-detail.about .resume-item p text {
    color: var(--white-color);
    margin-left: 1rem;
    font-size: 1.7rem;
    font-weight: 700;
    /* text-transform: capitalize; */
}

/* resume section end */

/* portfolio- */
.portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.portfolio-detail {
    display: none;
}

.portfolio-detail.active {
    display: block;
}

.portfolio-box .numb {
    font-size: 8rem;
    -webkit-text-stroke: .07rem var(--white-color);
    color: transparent;
    line-height: 1;
}

.portfolio-box h3 {
    font-size: 3.5rem;
    margin: 0.8rem 0 2rem;
    text-transform: capitalize;
    padding-top: 2rem;
}

.portfolio-box p {
    font-size: 1.8rem;
    padding-top: 2rem;
}

.portfolio-box .tech {
    margin: 2rem 0;
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--white-color);
    padding-bottom: 2rem;
}

.portfolio-box .live-github a {
    position: relative;
    display: inline-flex;
    padding: 1.3rem;
    font-size: 3rem;
    color: var(--white-color);
    border-radius: 50%;
    background: var(--second-bg-color);
    text-transform: capitalize;
    transition: all 0.5s;
}

.portfolio-box .live-github a:hover {
    color: var(--main-color);
}

.portfolio-box .live-github a:first-child {
    margin-right: 1.5rem;
}

.portfolio-box .live-github a:first-child i {
    transform: rotate(135deg);
}

.portfolio-box .live-github a span {
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 1rem;
    gap: 2rem;
    font-size: 1.6rem;
    white-space: nowrap;
    border-radius: 0.6rem;
    pointer-events: none;
    background: var(--white-color);
    color: var(--bg-color);
    opacity: 0;
    scale: 0.9;
    transition: 0.5s;
}

.portfolio-box .live-github a:hover span {
    top: -70%;
    opacity: 1;
    scale: 1;
}

/* carousel  */
.portfolio-box .portfolio-carousel {
    width: 100%;
    height: 45rem;
    border-radius: 1rem;
    overflow: hidden;
}

.portfolio-carousel .img-slide {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 2rem;
    height: inherit;
    transition: all 0.5s;
}

.portfolio-carousel .img-item {
    height: inherit;
}

.portfolio-carousel .img-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.portfolio-box .navigation {
    text-align: right;
    margin-top: 2rem;
}

.portfolio-box .navigation button {
    display: inline-flex;
    padding: 0.4rem;
    background: var(--second-bg-color);
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    font-size: 4rem;
    color: var(--main-color);
    cursor: pointer;
}

.portfolio-box .navigation button.disabled {
    color: var(--disabled-color);
    border-color: var(--second-bg-color);
}

.portfolio-box .navigation .arrow-right {
    margin-left: 1.5rem;
}

/* portfolio- end*/

/* contact section   */
.contact-container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 3rem;
}

.contact-container .contact-box:first-child {
    align-self: center;
}

.contact-box h2 {
    font-size: 4.5rem;
    text-transform: capitalize;
    font-weight: 600;
}

.contact-box p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.56;
}

.contact-box .desc {
    margin: 1.5rem 0 2.5rem;
}

.contact-box .contact-detail {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.contact-detail i {
    display: inline-flex;
    font-size: 3rem;
    background: var(--second-bg-color);
    color: var(--main-color);
    padding: 1.2rem;
    margin-right: 1.5rem;
    border-radius: 0.6rem;
}

.contact-detail .detail p:first-child {
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 1.9rem;
}

/* conatct form  */
.contact-box form {
    background: var(--second-bg-color);
    border-radius: 1rem;
    padding: 2.5rem 3.5rem 3.5rem;
    align-items: center;
}

.contact-box .heading {
    font-size: 3.5rem;
}

.contact-box .field-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.contact-box .field-box textarea {
    grid-column: 1 / -1;
    height: 25rem;
    resize: none;
}

.contact-box .field-box input,
.contact-box .field-box textarea {
    padding: 1.5rem;
    background: var(--bg-color);
    border: 0.19rem solid var(--bg-color);
    border-radius: 0.9 rem;
    font-size: 1.7rem;
    font-weight: 800;
    text-transform: capitalize;
    color: var(--white-color);
}

.contact-box .field-box input:focus,
.contact-box .field-box textarea:focus {
    border-color: var(--main-color);
}

.contact-box .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/* contact section  end */

/* breakpoints  */

@media screen and (max-width: 1200px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width: 990px) {
    header {
        padding: 2rem 4%;
    }
    section {
        padding: 10rem 4% 2rem;
    }
}
@media screen and (max-width: 810px) {
    .contact-box .field-box {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 768px) {
    #menu-icon {
        display: block!important;
    }
    nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        background: var(--bg-color);
        border-top: 0.1rem solid rgba(0 , 0 , 0 , 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0 , 0 , 0 , 0.2);
        text-align: center;
        display: none;
        transition: all 0.7s ease-in;
    }
    nav.active {
        display: block;
    }
    nav a {
        display: block;
        margin: 4rem 0;
    }
}